* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
} /*this block establishes no white space between tags, true to size boxes, and the font for the web page*/
header {
  background-color: lightgrey; /*header color*/
  color: white;
}
h1,
h2 {
  margin: 0; /*remove white space at top of page*/
  text-align: center;
  padding-top: 20px;
}
header nav {
  /*responsive nav*/
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 0;
}
header nav ul li:last-child a {
  margin-right: 0; /*helps make nav truly center*/
}
article {
  display: flex;
  flex-direction: column; /*makes the main content in column form*/
}
article h2,
p,
ul,
ol {
  margin: 3%;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2% 10% 10% 10%;
}
.item img {
  width: 100%;
}
#intro {
  background-color: mintcream;
  padding-top: 2%;
}
#aboutme {
  background-color: azure;
  margin: 0;
}

#projects {
  background-color: aliceblue;
}
#projects .item div a {
  height: 100%;
  text-decoration: none;
  color: black;
}

footer {
  background-color: lightgrey;
  color: white;
  text-align: center;
  margin: 0;
  display: block;
}
footer form {
  margin: auto;
  width: 50%;

  display: flex;
  flex-direction: column;
}
footer form input {
  height: 2.5em;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer nav a {
  text-decoration: none;
  color: white;
  padding: 1em;
  flex: 1;
}
.portfolio {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#projects .item div {
  display: flex;
  margin-left: 2%;
  flex-direction: column;
  margin-top: 6%;
}

#projects .item div > a {
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
#projects .item div img {
  height: 85%;
}

@media all and (min-width: 875px) {
  /*styling for larger screens*/
  header {
    display: flex;
    justify-content: space-around; /*makes the nav go left and right as the screen gets bigger*/
    padding: 0 30px;
  }
  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
  header nav {
    margin-top: 8px;
  }
  header nav ul li a:hover {
    background-color: white; /*highlits link text when hovering*/
    color: black;
  }
  article {
    display: flex;
    flex-direction: row; /*display content in rows for big screens*/
  }

  article > h2 {
    text-align: center;
  }

  #projects,
  #aboutme {
    flex-direction: column; /*stay column for the larger elements while in big screen*/
  }
  #aboutme .item {
    flex-direction: row; /*display smaller items in rows*/
  }
  #aboutme .item .subitem {
    margin-left: 3%;
    flex: 1;
  }

  #services {
    margin: auto;
    width: 75%;
  }
  #projects .item {
    flex-direction: row; /*display smaller items in rows*/
  }
  .portfolio {
    background-color: white;
    padding: 2%;
  }
}
